body{
	margin:0;
	padding:0;
	font-family:PT Sans;
}
h1,h2,h3,h4,h5,h6,p{
	margin:0;
}
a:hover{
	color:inherit;
	text-decoration:none;
}
p{
	font-size: 20px;
	font-weight:400;
	color:#787b80;
	width:75%;
}
h2{
	font-size:35px;
	font-weight:600;
	color:#384048;
	text-transform: uppercase;
}
h3{
	font-size:26px;
	color: #384048;
	font-weight: 600;
	text-transform: uppercase;
}
.button {
	background: #50c3af;
	padding: .5rem 3rem;
	margin: 4rem 0;
	transition:1s;
}
.button a {
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}
.button:hover{
	background:#bb4ef7 !important;
	transition: 1s;
}
.read-button {
	width: 20%;
	padding: .5rem !important;
	text-align: center;
}
.read-button a{
	text-transform:inherit !important;
}
.section-padding{
	padding:4rem 0;
}
.section-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid #e2e3e4;
	width: 80%;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}
.section-header i{
	color:#c6cbd1;
	font-size: 25px;
	margin-right: 1rem;
}
.section-heading p{
	width:70%;
}
/*Header Area*/
.header-area{
	background:url(../images/banner.jpg) no-repeat scroll 0 0/ 100% 100%;
}
.header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logo a{
	font-size:50px; 
	color: #fff;
}
.menu{
	display: none;
}

/*Navber*/
.navber {
	margin: 2rem 0;
}
.nav li a{
	font-family: Open Sans;
	font-size: 15px;
	color: #fff;
	padding: 0 2rem;
	text-transform: uppercase;
	transition: 1s;
}
.nav li a:hover{
	color:#000;
}
.header-title h1 {
	font-family: Ubuntu;
	font-size: 53px;
	color: #fff;
	margin: 2rem 0;
	text-transform: uppercase;
}
.second-title {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 60%;
	align-items: center;
}
.second-title h4 {
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
}

span {
	border-bottom: 3px solid #4e666f;
	width: 20%;
}
/*Service area*/
.service-area{
	background: #eeeeef;
}
.single-service {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.single-service h3{
	margin: 2rem 0;
	border-bottom: 2px solid #e2e3e4;
	padding-bottom: 2rem;
	width: 50%;
	text-align: center;
}
.single-service p{
	text-align: center;
}

/*Template Service*/
.single-template  img{
	width:100%;
}
.single-template h2{
	margin: 2rem 0;
	border-bottom: 2px solid #e2e3e4;
	padding-bottom: 2rem;
}

.single-template .button a{
	width: 30% !important;
}
/*Supported*/
.supported-area{
	background: #eeeeef;
}
.single-supported .button{
	background:#1e2227;
}
/*Second Service Template*/
.single-second-template img{
	width:100%;
}
.single-second-template h3{
	margin: 2rem 0;
	border-bottom: 2px solid #e2e3e4;
	padding-bottom: 2rem;
}
.check-out{
	margin-top: 1rem;
}
.check-out a{
	color:#50c3af;
}
/*third-template-service*/
.third-template-service{
	background:#eeeeef;
}

/*themeforest Area*/
.themeforest-img{
	text-align: center;
}
.single-themeforest img{
   width:auto;
   height: 350px;
}
.single-themeforest h2 {
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: 2px solid #e2e3e4;
}
.single-themeforest .button{
	background:#1e2227;
}
/*Features Area*/
.features-area {
	background:#50c3af;
}
.features-header{
	padding-bottom:2rem;
	border-bottom:2px solid #e2e3e4;
	width:48% !important;
	margin:auto;
	margin-bottom:4rem;
}
.features-header h3{
	color:#fff !important;
}
.features {
text-align:center;
}
.single-features h4{
	color:#fff;
	font-size:26px;
}
.single-features.item-1{
	font-family:Blanda;
}
.single-features.item-3{
	font-family:Cabin;
}
.owl-prev{
	font-size:2rem !important;
	margin-right: 1rem;
}
.owl-next{
	font-size:2rem !important;
}
span{
	border:none;
}
/*Footer*/
.footer-area{
	padding:1.5rem 0;
}
.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.copy-right{
	flex-basis:50%;
}
.copy-right p {
	color: #3e4147;
	width: 100%;
}
.copy-right a{
	color:#aaa;
	transition:1s;
}
.social-link i{
	color: #3e4147;
	padding: 0 .5rem;
	font-size: 1.3rem;
	transition:1s;
}
.copy-right a:hover{
	color:green;
}
.social-link i:hover{
	color:green;
}

/*********Responsive************/
/******************************/
@media all and (max-width:1100px){
	h2{
		font-size:25px;
	}
   	font-size:20px;
   h3{
   }
	p{
		font-size:15px;
	}
}



@media all and (max-width:991px){
.section-padding {
	padding:  0;
}
	.logo{
		width:100%;
		 display: flex;
     justify-content: space-between;
	}
.nav {
	display: none;
	position: absolute;
	top: 4%;
	right: 5%;
	background: green;
	padding: 2rem .5rem;
	width: 40%;
	text-align: center;
	height: auto;
}
.menu{
   z-index:1;
 	display: block;
 }
 .menu i {
	font-size: 30px;
   }
 .second-title {
	 width: 100%;
}
.col-lg-4.col-md-6.col-sm-12 {
	margin: 4% auto;
}
.single-themeforest img {
	width: 100%;
	height: auto;
}
.single-themeforest {
	margin: 3% auto;
}
.features-header{
	width: auto !important;
	justify-content: center;
}

}
@media all and (max-width:560px){
	h1{
		font-size:30px !important;
	}
	.section-padding{
		padding:2rem 0;
	}
	.header-area{
		padding-top:0;
	}
  .footer {
		flex-direction: column;
	}
	.copy-right p {
     margin-bottom: 5px;
	}

}

@media all and (max-width:480px){
  p{
  	width: 100% !important;
  	font-size:15px;
  }
  .section-padding{
  	padding:1rem 0;
  }
  .section-header{
  	align-items:inherit;
  	width: 100% !important;
  	margin-bottom:1rem !important;
  	padding-bottom: 1rem!important;
  }
.features-header{
	align-items: center !important;
}
  .features-header h3{
  	padding-bottom:0 !important;
  }
  h2{
  	font-size:20px;
  	 margin-bottom:1rem !important;
  	padding-bottom: 1rem!important;
  }
  h3{
  	font-size:15px;
  	margin:1rem 0 !important;
  	padding-bottom: 1rem!important;
  }
  .read-button{
  	width: 30%;
  }
}